
<% @books.each_slice(4) do |book| %>


  

<div class="card-deck">
	
  <% book.each do |book| %>

  <div class="card">
    
    <%= image_tag (book.coverpath), class: 'card-img-top' %>
    <div class="card-body">
      <h5 class="card-title"><%= book.title %></h5>
      <p class="card-text">This is a wider card with supporting text.</p>
    </div>
    <%= link_to "Read more", book_path(book), class: "btn btn-info" %>
    <div class="card-footer">
      <small class="text-muted">Last updated 3 mins ago</small>
    </div>
  </div>
  
  <% end %>
</div>

<% end %>
