<div id="books-show">
	<h2>Ruby On Rails Power</h2>
	<div class="books-show-left">
	<%= image_tag ('ruby_on_rails_power.jpg') %>
	</div>
	<div class="books-show-right">
		<h3>Book Info</h3>
		<ul>
			<li><strong>Category: </strong>Ruby on Rails</li>
			<li><strong>Author: </strong> Anesha Bakahira</li>
			<li><strong>Publisher: </strong>Course Technology PIR</li>
			<li><strong>Year: </strong>2007</li>
			<li><strong>ISBN: </strong>1234534656576</li>
			<li><strong>Format: </strong>Paperback</li>
			<li><strong>Page: </strong>678</li>
		</ul>
		<%= link_to "Buy for $5.47", 'http://wwww.ebay.com', class: 'btn btn-success', target: '_blank' %>
	</div>
	<div class="clearfix">
		
	</div>
	<h4>Excerpt</h4>
	<p>
		Stumptown lo-fi gochujang eiusmod adaptogen reprehenderit fugiat dolor direct trade cupidatat master cleanse godard shoreditch. Pop-up stumptown schlitz poutine squid occupy. Franzen mlkshk sunt portland cloud bread vape ex, messenger bag post-ironic lorem celiac lyft consectetur. Put a bird on it aliquip food truck, gluten-free enamel pin offal eu snackwave jianbing trust fund beard slow-carb fanny pack bespoke nostrud. Food truck dolore consequat, microdosing literally laborum skateboard man bun 90's minim umami farm-to-table sed in. Wayfarers duis aesthetic edison bulb kickstarter raw denim meh mustache reprehenderit craft beer drinking vinegar butcher. Stumptown do non, fam crucifix enamel pin iPhone. Ea hot chicken incididunt next level anim craft beer meggings, kombucha consectetur food truck etsy. Kale chips consequat sustainable, bitters polaroid biodiesel marfa officia chicharrones artisan pour-over. Tote bag ea hot chicken, occupy try-hard four loko literally kinfolk ut sriracha. Elit sustainable iPhone tote bag DIY authentic ad live-edge culpa intelligentsia. Ethical lomo banh mi, vexillologist ut vegan trust fund next level pitchfork four dollar toast actually wolf tousled you probably haven't heard of them hammock. Truffaut labore fugiat proident etsy. Meggings retro cornhole bitters, ramps franzen live-edge farm-to-table deserunt leggings irony nulla freegan ea.
	</p>
</div>