
<% if params[:controller] == 'about' %>
<div class="well">
<h1>Location Info</h1>
<ul>
	<li>The Bookstore</li>
	<li>567 Masachusetts Ave, Unit 2</li>
	<li>Boston, MA 02177</li>
	<li>Phone: (617) 123 456 78</li>
	<li>email: support@bookstore.com</li>
</ul>
</div>

<% end %>
<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
	<% @categories.each do |category| %>
	<%= link_to category.name, category_path(category.id), class: "list-group-item" %>
	<% end %>
	

</div>
<% end %>